body {
  margin: 15px;
}
main {
    display: grid;
    background-color: lightslategray;
}

.wordbox {
    text-align: center;
    border: solid white;
    margin: 3px;

}

.word_modal {
  position: fixed;
  z-index: 1;
  height:100%;
  width:100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

.word_def {
  background-color: white;
  margin: 10% auto;
  padding: 15px;
  width: 60%;
}

.word {
  font-size: 36px;
  font-weight: bold;
}

#closeButton {
  color: grey;
  font-size: 36px;
  float: right;
}

#closeButton:hover {
  color: black;
  cursor:pointer;
}
