<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="wordstyle.css") }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% block navbar %}
        <nav>
            <a href="https://word-list-4131.herokuapp.com/"><h1>Word List Program for {{name}}</h1></a>
        </nav>
        {% endblock %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        default content
        {% endblock %}
        <br>
        <hr>
        <a href="https://github.umn.edu/monta262/word_list">Code for project can be found here</a>
    </body>
</html>
